<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--系统日志文件名/路径(默认程序根目录下)-->
    <LogEvent name="系统日志文件名/路径">LogEvent.txt</LogEvent>
    <!--WCS Log文件保存路径(可更改)-->
    <LogPath name="运行日志文件目录">D:\WCS_Log\成品仓\</LogPath>
    <!--程式标识-->
    <AppFlag name="A为成品仓,B为原料仓">A</AppFlag>
    <!--各区域PLC参数设置-->
    <!--<FHPPLC name="成品仓HP侧PLC">192.168.51.21,61</FHPPLC>
    <FOPPLC name="成品仓OP侧PLC">192.168.10.21,22</FOPPLC>-->
    <FCJPLC name="成品仓车间PLC">192.168.51.106,6</FCJPLC>
    <!--<WHPPLC name="原料仓HP侧PLC">192.168.10.21,24</WHPPLC>
    <WOPPLC name="原料仓OP侧PLC">192.168.10.21,25</WOPPLC>
    <WCJPLC name="原料仓车间PLC">192.168.10.21,26</WCJPLC>-->
    <!--串口设备参数-->
    <BcrC101 name="成品仓车间BCR">192.168.10.16,10001</BcrC101>
    <BcrC102 name="成品仓车间BCR">192.168.10.16,10002</BcrC102>
    <!--当前使用连接-->
    <ServerName name="数据库服务器">192.168.50.8</ServerName>
    <DatabaseName name="数据库">asrs</DatabaseName>
</appSettings>
</configuration>